* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    background: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden !important;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(7, 7, 7); 
    border-radius: 10px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgba(30, 30, 30, 1);
        border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background:rgba(30, 30, 30, 1);
        filter: blur(10px);
        transition: all .50s;
    }
    
@font-face {
    font-family: 'ClashGrotesk';
    src: url(ClashGrotesk-Regular.ttf);
}
@font-face {
    font-family: 'ClashGrotesk-Mid';
    src: url(ClashGrotesk-Medium.ttf);
}

@import "scss/navbar";
@import "scss/featured-design";
